#h1 {
    text-align: center;
    color: black;
    font-size: 100px;
        
}


#p{
   text-align: center;
    color:black;
    font-size; 75px;
    
}

img {
    padding:1px;
    border:1px solid #021a40;
    
}
